<%- include('../partials/header') %>

<section class="thank-you">
  <h2>Thank You, <%= name %>!</h2>
  <p>Your message has been received.</p>
  <p><a href="/">Return to Home</a></p>
</section>

<%- include('../partials/footer') %>
