<%- include('../partials/header') %>

<section class="thank-you">
  <h2 class="section-heading">Thank You, <%= name %>!</h2>

  <% if (name && name !== 'Guest') { %> <!-- Check if user has submitted their name, if not, message to go to contact page, if so, thank you message -->
    <p>Your message has been received.</p>
    <a href="/" class="home-link">Return to Home</a>
  <% } else { %>
    <p>Please feel free to send us a message via the <a href="/contact">contact page</a>.</p>
  <% } %>
</section>

<%- include('../partials/footer') %>
